{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "*.{md}": [
    "prettier --write",
    "eslint --fix"
  ],
  "{src}/**/*.{ts,svelte}": [
    "prettier --write",
    "eslint --fix"
  ],
}
